.task, .focus {
    font-family: "Almarai", sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    display: flex;
    margin: 5px;
    padding: 10px;
    color: #415c45;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #415c45;
}

.focus {
    opacity: 40%;
}

.task-button__done, .task-button__delete {
    padding: 0px 9px;
    margin-right: 7px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.35s;
}

.task-button__done {
    background: #7cb184;
    box-shadow: 0px 0px 4px #415c45;
}
.task-button__done:hover {
    background: #0edd1f;
}

.task-button__delete {
    background: #a80000;
    box-shadow: 0px 0px 4px #9c0000;
}
.task-button__delete:hover {
    background: #ff0000;
}

