@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Bebas+Neue&family=Charm:wght@400;700&family=Delius+Unicase:wght@400;700&family=Inder&family=Jersey+10&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Orbitron:wght@400..900&family=Press+Start+2P&display=swap');

$font-title: "Bebas Neue", sans-serif;
$font-base: Helvetica, sans-serif;
$primary-color: rgb(255, 0, 200);
$hover-color: rgb(255, 143, 246);

