$title-font: "Major Mono Display", monospace;

/* GENERIC COLORS */
$gen-color: #8d7a7a;
$alt-color: #524242;
$alt-color-two: #352e2e;

/* IMPORTANT COLORS */
$background-color: #5c1c1c;
$boxes-color: #1a0707;